<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P1</title>
    <script src="../JS/vue.js"></script>
</head>
<body>
    <div id="h">
       <h1>Student Info</h1>
       <button @click ="age++">age increse</button>
       <button @click = 'addGender'>add gender</button>
       <button @click = 'addFriend("Tong")'> add friend </button>
       <h3>Name: {{name}}</h3>
       <h3>Age: {{age}}</h3>
       <!-- <h3>Gender: {{gender}}</h3> -->
       <h3 v-if='true'>Gender:{{gender}}</h3>
       <h3>Hobby:</h3>
       
       <ul>
           <li v-for='(p,index) of hobby' :index = index> {{p}}</li>
       </ul>

       <h3>Friends:</h3>
       <ul>
           <li v-for='(f,index) of friends' :index = index> {{f.name}}, {{f.age}}, {{f.gender}}</li>
       </ul>
       
    </div>

    <script>
        const vm = new Vue({
            el:'#h',
            data:{
                name:'Nancy',
                age:'18',
                
                hobby:['sing','dance','learn'],
                friends:[
                    {name:'Fan',age:19, gender:'Male'},
                    {name:'Duo',age:30, gender:'Female'}
                    ]
               
            },
           
        
        
    
    </script>
</body>
</html>